#family-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7px;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.family-name {
  font-weight: bold;
  padding-left: 10px;
}

.address {
}

#view-btn {
  padding: 10px 15px;
  font-weight: bold;
  background: #7272c4;
  border: none;
  color: white;
  border-radius: 15px;
}

#view-btn:hover {
  background: #5d5da1;
}
